.section__header--galery {
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    padding: 15px;
    border-bottom: solid 1px rgba(17, 16, 16, 0.342);
}

.section__galery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

@media (max-width: 1023px) {
    .section__galery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .section__galery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.section__image--galery {
    max-width: 450px;
    width: 100%;
    box-shadow: -14px -12px 0px 0px #E8BE40;
    margin: auto;
    display: block;
}