.navigation {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

@media (max-width: 767px) {
  .navigation {
    padding: 20px 0;
  }
}

.navigation__mobile-button {
  display: none;
  outline: none;
  z-index: 2;
}

@media (max-width: 1023px) {
  .navigation__mobile-button {
    display: block;
    background: none;
    border: none;
    padding-right: 2px;
  }
}

@media (max-width: 1023px) {
  .navigation__mobile-button-image {
    width: 25px;
    height: 25px;
    display: block;
    padding-right: 2px;
  }
}

.navigation__items {
  display: flex;
}

@media (max-width: 1023px) {
  .navigation__items {
    position: fixed;
    background: white;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
  }
}

@media (max-width: 1023px) {
  .navigation__items--open {
    opacity: 1;
  }
}

.navigation__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__item {
  color: #666;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
}

@media (max-width: 1240px) {
  .navigation__item {
    font-size: 15px;
    padding: 10px;
  }
}

@media (max-width: 1023px) {
  .navigation__item {
    padding: 10px;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.navigation__item:hover {
  color: black;
}

