.section {
    font-size: 18px;
    color: #555;
    padding: 50px 0;
}

@media (max-width: 767px) {
    .section {
        padding: 30px 0;
        font-size: 16px;
    }
}

.section__image {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    padding-left: 50px;
}

@media (max-width: 767px) {
    .section__image {
        padding: 20px;
        height: 200px;
        object-fit: contain;
    }
}

.section__header--first {
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px;
}

.section__header {
    font-weight: normal;
    color: #e08e16;
    margin: 10px 0;
    font-size: 30px;
}

@media (max-width: 767px) {
    .section__header {
        font-size: 25px;
    }
}

.section__aboutus {
    display: grid;
    grid-gap: 30px;
    align-items: center;
    grid-template-columns: 40% 1fr;
}

@media (max-width: 767px) {
    .section__aboutus {
        grid-template-columns: 1fr;
    }
}

.section__text {
    -webkit-box-flex: 1;
    padding: 0 20px;
}

.section__header {
    font-weight: 700;
    color: #e08e16;
    margin: 10px 0;
    font-size: 25px;
    text-transform: uppercase;
}

.section__paragraph {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 18px;
    padding-right: 50px;
}

.section--dark {
    background: #2e2d37;
    color: #eee;
}

.section__footer {
    color: #eee;
    line-height: 2;
    text-align: start;
    padding-left: 30px;
}